<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" charset="utf-8" async="" src="//ssl.p.jwpcdn.com/player/v/8.21.1/jwpsrv.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webframe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Webframe.styles.css" asp-append-version="true" />
    <link rel="dns-prefetch" href="//s1.xfast.sbs">
    <link rel="dns-prefetch" href="//s2.xfast.sbs">
    <link rel="dns-prefetch" href="//s3.xfast.sbs">
    <link rel="dns-prefetch" href="//s4.xfast.sbs">
    <link rel="dns-prefetch" href="//s5.xfast.sbs">
    <link rel="dns-prefetch" href="//s6.xfast.sbs">
    <link rel="dns-prefetch" href="//s7.xfast.sbs">
    <link rel="dns-prefetch" href="//s8.xfast.sbs">
    <link rel="dns-prefetch" href="//s9.xfast.sbs">
    <link rel="dns-prefetch" href="//s10.xfast.sbs">
    <link rel="dns-prefetch" href="//s11.xfast.sbs">
    <link rel="dns-prefetch" href="//s12.xfast.sbs">
    <link rel="dns-prefetch" href="//s13.xfast.sbs">
    <link rel="dns-prefetch" href="//s14.xfast.sbs">
    <link rel="dns-prefetch" href="//s15.xfast.sbs">
    <script src="~/js/playerframe.js" asp-append-version="true"></script>
    <script charset="utf-8" src="//ssl.p.jwpcdn.com/player/v/8.21.1/jwplayer.core.controls.js"></script>
    <script charset="utf-8" src="//ssl.p.jwpcdn.com/player/v/8.21.1/provider.hlsjs.js"></script>
    <script src="https://cdn.jwplayer.com/libraries/aHJ02Kxl.js"></script>
    <meta name="allowed-domains" content="ZnVsbGNsaXBob3QuY29tLGZ1bGxjbGlwaG90Lm5ldCxmdWxsbGl2ZWhvdC5jb20sY2xpcGhvdC5tb20sdG9pY28ubWUsY2xpcHBob3QubmV0LHBoaW0xOHgudXMscGhpbTE4eC5iaXoscGhpbTE4eC5saXZlLGNsaXBob3R2bC5jb20sY29uZ3BoaW0xOC5jb20sY29uZ3BoaW0xOC5uZXQsdmlldDY5aG90LmNvbSxmdWxsbGl2ZWhvdC5saXZlLGxvY2FsaG9zdDo0NDM0Mg==">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Webframe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Webframe - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>